* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Roboto", sans-serif;
    width: 100%;
}

.navbar {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    gap: 20px;
    vertical-align: top;
    border-bottom: solid black 1px;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
    align-items: center;

}


.navbar__s1 h1 {
    color: rgb(218, 32, 246);
    font-weight: 500px;
}

.navbar__s2 {
    border: solid 1px black;
    width: 65%;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    gap: 20px;
    padding: 10px;
    align-items: center;
}

.navbar__s2 input {
    display: flex;
    border: none;
    font-size: 15px;
    padding: px;
    background-color: transparent;

}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
    vertical-align: top;
}

.my__learning {
    position: relative;
    cursor: pointer;
}

.my__learning__popup {
    position: absolute;
    border: black solid 2px;
    background-color: white;
    padding: 10px;
    top: 25px;
    border-radius: 10px;
    width: 100px;
    right: 0px;
    display: none;
}

.my__learning:hover .my__learning__popup {
    display: block;
}




.section__2 {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    z-index: 2;
}

.section__2 p {
    color: white;
    border-radius: 30px;
    padding: 10px;
    background-color: rgb(218, 32, 246);
    border: solid black 1px;
}

.section__2 p:hover {
    background-color: transparent;
    color: rgb(218, 32, 246);
    border: solid black 1px;
    cursor: pointer;
    transition: 1s;
}

.section__sale {
    position: relative;
}

.section__sale img {
    width: 100%;
}

.sale__offer {
    width: 400px;
    border: solid black 1px;
    padding: 2%;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 30px;
    border-radius: 20px;
    animation-name: scale;
    opacity: 0;
    animation-duration: 3s;
    animation-fill-mode: forwards;

}

@keyframes scale {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.section__card__title {
    width: 250px;
}

.card__1,
.card__2,
.card__3,
.card__4 {
    flex-grow: 1;
    flex-basis: 20px;
    margin: 5px;
}

.card__1 img,
.card__2 img,
.card__3 img,
.card__4 img {
    height: 50%;
    width: 100%;
}

.section__card {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}


.box__title {
    padding: 10px;
}

.section__topic {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.section__topic p {
    border: solid gray 2px;
    flex-grow: 1;
    flex-basis: 25%;
    padding: 5px;
}

.section__footer {
    background-color: black;
    color: white;
    padding: 20px;

}

.footer__point {
    display: flex;

    gap: 100px;
}

.footer__point p {
    padding: 5px;
}

.section__footer h1 {
    padding-top: 50px;
}

/* display */
@media screen and (max-width:800px) {
    body {
        font-size: 10px;
    }
}

@media screen and (max-width:800px) {

    .card__1,
    .card__2,
    .card__3,
    .card__4 {
        flex-basis: 40%;
    }

    .section__2 {
        display: none;
    }
    .navbar__s3{
        display: none;
    }
    .sale__offer{
        width: 200px;
    }
}